<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gDesktopTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="gDesktopTranslator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gDesktopTranslator.appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <gDesktopTranslator.Properties.Settings>
            <setting name="QuickTranslateFromLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="QuickTranslateToLanguage" serializeAs="String">
                <value>Ukranian</value>
            </setting>
            <setting name="minToTrayOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minToTrayAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterfaceLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ProxyAdress" serializeAs="String">
                <value>example.com:8080</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ifUserProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultLangFrom" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="dafaultlangTo" serializeAs="String">
                <value>Ukranian</value>
            </setting>
            <setting name="useCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalTranslateCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LearnIntervalInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WordsPerSession" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LearningEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkASLearnderAfterShownTimes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LearnViaSelectThreshold" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
        </gDesktopTranslator.Properties.Settings>
        <gDesktopTranslator.Settings1>
            <setting name="QuickTranslateFrom" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="QuickTranslateTo" serializeAs="String">
                <value>Ukrainian</value>
            </setting>
        </gDesktopTranslator.Settings1>
    </userSettings>
    <applicationSettings>
        <gDesktopTranslator.appSettings>
            <setting name="QuickTranslateFrom" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="QuickTranslateTo" serializeAs="String">
                <value>Ukrainian</value>
            </setting>
        </gDesktopTranslator.appSettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
